html {
  background:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("src/assets/disco.gif");
  background-size: 100%;
}

body, html{
  height:100%;
  overflow: hidden;
  -webkit-backface-visibility:hidden;
}
body{
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  font-size: 16px;
}

.otherButtons{
  padding:5px 12px;
  float:left;
  font-size: 16px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.sonic:hover{
  transform: rotate(-3230deg);
  -webkit-transform: rotate(-3230deg);
}